h1{
    text-align: center;
    
  }

  h2{
      text-align: center;
      color: red;
  }


  footer{
    background: black;
    color:white;
    text-align: center;
  }

  p{
      text-align: center;
      
  }
  